<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat page for {{ username }}</title>
</head>

<body>
    <h1>Welcome, {{ username }}</h1>

    <form method="POST">
        <textarea cols="50" rows="4" name="message" id="message"></textarea>
        <br>
        <button>Send Message</button>
    </form>

    {% for message in chat_messages %}
    <p>({{ message.timestamp }}) {{ message.from }}: {{ message.message}}</p>
    {% endfor %}

    <script>
        let textbox = document.getElementById("message");

        let timer = setTimeout(function() {
            location.reload();
        }, 5000);
        // Every 5 seconds, messages will get refreshed 

        textbox.onkeydown = function(e) { // Once key pressed, then function starts & timer stops
            clearTimeout(timer)

            timer = setTimeout(function() {
                location.reload(); // reload starts whole process again
            }, 5000) // User get 5 seconds between key presses to continue writing their message
        };
    </script>

</body>

</html>
